# YOOKASA
YOOKASSA_SHOP_ID = ''
YOOKASSA_SECRET_KEY = ''

# Gmail SMTP
EMAIL_HOST_USER='example@gmail.com'
EMAIL_HOST_PASSWORD='app password'


# Django secret key
SECRET_KEY='secret key'

# host
ALLOWED_HOSTS='domen or ip host'
# Любые другие секреты
DEBUG=True