{% extends "registration/auth_base.html" %}

{% block title %}Вход{% endblock %}

{% block auth_content %}
<h2 class="form-title">Вход в аккаунт</h2>

{% if form.errors %}
<div class="alert alert-danger">
  Ошибка входа. Проверьте email и пароль.
</div>
{% endif %}

<form method="post" action="{% url 'login' %}">
  {% csrf_token %}

  <div class="form-group">
    <label for="id_email">Email</label>
    {{ form.email }} <!-- Изменить в форме на email вместо username -->
  </div>

  <div class="form-group">
    <label for="id_password">Пароль</label>
    {{ form.password }}
  </div>

  <button type="submit" class="btn-auth">Войти</button>

  <div class="form-footer">
    <a href="{% url 'password_reset' %}">Забыли пароль?</a>
      |  
    <a href="{% url 'register' %}">Регистрация</a>
  </div>
</form>
{% endblock %}