{% extends "registration/auth_base.html" %}

{% block title %}Подтверждение email{% endblock %}

{% block auth_content %}

<h2 class="form-title">Подтверждение email</h2>

<p style="text-align:center; margin-bottom:20px;">
    Мы отправили код подтверждения на вашу почту
</p>

<form method="post">
    {% csrf_token %}

    <div class="form-group">
        <label for="{{ form.code.id_for_label }}">
            Код подтверждения
        </label>

        {{ form.code }}
    </div>

    <button type="submit" class="btn-auth">
        Подтвердить
    </button>

</form>

<div class="form-footer">
    <a href="{% url 'register' %}">Назад к регистрации</a>
</div>

{% endblock %}