{% extends 'main/base.html' %}
{% load static %}


{% block content %}
<div class="container">
    <ul class="breadcrumb">
        <li><a href="{% url 'account' %}"><i class="fa fa-home"></i></a></li>
        <li><a href="{% url 'account' %}">Личный кабинет</a></li>
    </ul>
</div>
<div id="account-edit" class="container">

    <div class="row">

        <!-- Вставляем сайдбар -->
        {% include 'main/account_sidebar.html' %}
        <div id="content" class="col-sm-9">
            <h1>Данные учетной записи</h1>
            <form id="profile-form" method="post">
                {% csrf_token %}
            
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="first_name" class="form-label">Имя *</label>
                        <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.first_name }}"
                            required>
                    </div>
                    <div class="col-md-6">
                        <label for="last_name" class="form-label">Фамилия</label>
                        <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user.last_name }}">
                    </div>
            
                    <div class="col-md-6">
                    <label for="email" class="form-label">Эл. почта</label>
                    <input type="email" class="form-control bg-light" id="email" value="{{ user.email }}">
                    </div>
                
                    <div class="col-md-6">
                    <label for="phone" class="form-label">Телефон *</label>
                    <input type="tel" class="form-control" id="phone" name="phone" value="{{ user.phone }}"
                        placeholder="+7 (999) 999-99-99" required>
                    </div>
            
                    <div class="col-md-6">
                    <label for="address" class="form-label">Адрес доставки *</label>
                    <textarea class="form-control" id="address" name="address" rows="3" required>{{ user.address }}</textarea>
                    </div>
                </div>
                <br>
                <div class="mt-4">
                    <button type="submit" class="btn btn-primary tiffany_blue_btn" id="save-profile-btn">
                        Сохранить изменения
                    </button>
                    <a href="{% url 'account' %}" class="btn btn-outline-secondary ms-2">
                        Отмена
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock %}