{% extends 'main/base.html' %}
{% load static %}


{% block content %}
<div class="content-top-breadcum">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
            <li><a href="{% url 'account' %}">Личный кабинет</a></li>
            <li><a href="{% url 'account_affiliate_add' %}">Кабинет партнера</a></li>
        </ul>
    </div>
</div>
<div id="account-affiliate" class="container">

    <div class="row">

        <aside id="column-left" class="col-sm-3 hidden-xs">
            <div class="box">
                <div class="box-heading">Личный кабинет</div>
                <div class="list-group">
        
                    <a href="{% url 'account' %}" class="list-group-item">Личный
                        кабинет </a>
        
                    <a href="{% url 'account_edit' %}" class="list-group-item">Изменить
                        профиль</a> <a href="{% url 'account_change_password' %}"
                        class="list-group-item">Пароль</a>
        
                    <a href="{% url 'account_change_address' %}" class="list-group-item">Список адресов</a>
                    <a href="{% url 'account_change_bookmarks' %}" class="list-group-item">Закладки </a>
                    <a href="{% url 'account_order_history' %}" class="list-group-item">История покупок </a>
                    <a href="{% url 'account_recurring' %}" class="list-group-item">Регулярные платежи </a>
                    <a href="{% url 'account_bonus_points' %}" class="list-group-item">Бонусные баллы </a>
                    <a href="{% url 'account_return' %}" class="list-group-item">Возвраты </a>
                    <a href="{% url 'account_transaction' %} " class="list-group-item">Транзакции </a>
                    <a href="{% url 'account_newsletter' %}" class="list-group-item">Новостная рассылка </a>
        
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button class="list-group-item" type="submit" style="background: transparent;">Выйти</button>
                    </form>
        
                </div>
            </div>
        
            <div class="swiper-viewport">
                <div id="banner" class="swiper-container single-banner">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="{% static 'img/product_oe-removebg-preview.png' %}" alt="Get 15% OFF on Bedside Desk"
                                    class="img-responsive">
                                <div class="left-banner">
                                    <div class="left-title">Get 15% OFF on Bedside Desk</div>
                                </div>
                            </a>
        
                        </div>
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <script type="text/javascript">
                $('#banner0').swiper({
                    autoplay: 4000,
                    pagination: '.swiper-pagination',  // If we need pagination
                    autoplayDisableOnInteraction: false
                });
            </script>
        
        </aside>
        <div id="content" class="col-sm-9">
            <h1>Информация партнера</h1>
            <form action="http://31.128.43.100/index.php?route=account/affiliate/add" method="post"
                enctype="multipart/form-data" class="form-horizontal">
                <fieldset>
                    <legend>Информация партнера</legend>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-company">Компания</label>
                        <div class="col-sm-10">
                            <input type="text" name="company" value="" placeholder="Компания" id="input-company"
                                class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-website">Веб-сайт</label>
                        <div class="col-sm-10">
                            <input type="text" name="website" value="" placeholder="Веб-сайт" id="input-website"
                                class="form-control">
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Платежная информация</legend>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-tax">ИНН</label>
                        <div class="col-sm-10">
                            <input type="text" name="tax" value="" placeholder="ИНН" id="input-tax"
                                class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Метод оплаты</label>
                        <div class="col-sm-10">
                            <div class="radio">
                                <label> <input type="radio" name="payment" value="cheque" checked="checked">
                                    Чек</label>
                            </div>
                            <div class="radio">
                                <label> <input type="radio" name="payment" value="paypal">
                                    PayPal</label>
                            </div>
                            <div class="radio">
                                <label> <input type="radio" name="payment" value="bank">
                                    Банковский перевод</label>
                            </div>
                        </div>
                    </div>
                    <div id="payment-cheque" class="payment" style="display: block;">
                        <div class="form-group required">
                            <label class="col-sm-2 control-label" for="input-cheque">Получатель чека</label>
                            <div class="col-sm-10">
                                <input type="text" name="cheque" value="" placeholder="Получатель чека"
                                    id="input-cheque" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div id="payment-paypal" class="payment" style="display: none;">
                        <div class="form-group required">
                            <label class="col-sm-2 control-label" for="input-paypal">Аккаунт PayPal</label>
                            <div class="col-sm-10">
                                <input type="text" name="paypal" value="" placeholder="Аккаунт PayPal" id="input-paypal"
                                    class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="payment" id="payment-bank" style="display: none;">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-bank-name">Банк</label>
                            <div class="col-sm-10">
                                <input type="text" name="bank_name" value="" placeholder="Банк" id="input-bank-name"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-bank-branch-number">Номер отделения</label>
                            <div class="col-sm-10">
                                <input type="text" name="bank_branch_number" value="" placeholder="Номер отделения"
                                    id="input-bank-branch-number" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-bank-swift-code">БИК</label>
                            <div class="col-sm-10">
                                <input type="text" name="bank_swift_code" value="" placeholder="БИК"
                                    id="input-bank-swift-code" class="form-control">
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="col-sm-2 control-label" for="input-bank-account-name">Корр. счет</label>
                            <div class="col-sm-10">
                                <input type="text" name="bank_account_name" value="" placeholder="Корр. счет"
                                    id="input-bank-account-name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="col-sm-2 control-label" for="input-bank-account-number">Расчетный счет</label>
                            <div class="col-sm-10">
                                <input type="text" name="bank_account_number" value="" placeholder="Расчетный счет"
                                    id="input-bank-account-number" class="form-control">
                            </div>
                        </div>
                    </div>

                </fieldset>
                <div class="buttons clearfix">
                    <div class="pull-right">Я прочитал и согласен с <a
                            href="http://31.128.43.100/index.php?route=information/information/agree&amp;information_id=4"
                            class="agree"><b>About Us</b></a>
                        <input type="checkbox" name="agree" value="1">
                        &nbsp;
                        <input type="submit" value="Продолжить" class="btn btn-primary">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}