{% extends 'main/base.html' %}
{% load static %}


{% block content %}
<div class="content-top-breadcum"></div>
<div class="container">
    <ul class="breadcrumb">
        <li><a href="http://31.128.43.100/index.php?route=common/home"><i class="fa fa-home"></i></a></li>
        <li><a href="http://31.128.43.100/index.php?route=account/account">Личный кабинет</a></li>
    </ul>
</div>
</div>
<div id="account-edit" class="container">

    <div class="row">

        <aside id="column-left" class="col-sm-3 hidden-xs">
            <div class="box">
                <div class="box-heading">Личный кабинет</div>
                <div class="list-group">
        
                    <a href="{% url 'account' %}" class="list-group-item">Личный
                        кабинет </a>
        
                    <a href="{% url 'account_edit' %}" class="list-group-item">Изменить
                        профиль</a> <a href="{% url 'account_change_password' %}"
                        class="list-group-item">Пароль</a>
        
                    <a href="{% url 'account_change_address' %}" class="list-group-item">Список адресов</a>
                    <a href="{% url 'account_change_bookmarks' %}" class="list-group-item">Закладки </a>
                    <a href="{% url 'account_order_history' %}" class="list-group-item">История покупок </a>
                    <a href="{% url 'account_recurring' %}" class="list-group-item">Регулярные платежи </a>
                    <a href="{% url 'account_bonus_points' %}" class="list-group-item">Бонусные баллы </a>
                    <a href="{% url 'account_return' %}" class="list-group-item">Возвраты </a>
                    <a href="{% url 'account_transaction' %} " class="list-group-item">Транзакции </a>
                    <a href="{% url 'account_newsletter' %}" class="list-group-item">Новостная рассылка </a>
        
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button class="list-group-item" type="submit" style="background: transparent;">Выйти</button>
                    </form>
        
                </div>
            </div>
        
            <div class="swiper-viewport">
                <div id="banner" class="swiper-container single-banner">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="{% static 'img/product_oe-removebg-preview.png' %}" alt="Get 15% OFF on Bedside Desk"
                                    class="img-responsive">
                                <div class="left-banner">
                                    <div class="left-title">Get 15% OFF on Bedside Desk</div>
                                </div>
                            </a>
        
                        </div>
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <script type="text/javascript">
                $('#banner0').swiper({
                    autoplay: 4000,
                    pagination: '.swiper-pagination',  // If we need pagination
                    autoplayDisableOnInteraction: false
                });
            </script>
        
        </aside>
        <div id="content" class="col-sm-9">
            <h1>Данные учетной записи</h1>
            <form action="http://31.128.43.100/index.php?route=account/edit" method="post" enctype="multipart/form-data"
                class="form-horizontal">
                <fieldset>
                    <legend>Ваши персональные данные</legend>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-firstname">Имя </label>
                        <div class="col-sm-10">
                            <input type="text" name="firstname" value="mika" placeholder="Имя" id="input-firstname"
                                class="form-control">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-lastname">Фамилия</label>
                        <div class="col-sm-10">
                            <input type="text" name="lastname" value="ohanyan" placeholder="Фамилия" id="input-lastname"
                                class="form-control">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-email">Эл. почта</label>
                        <div class="col-sm-10">
                            <input type="email" name="email" value="mikaohanyan881@gmail.com" placeholder="Эл. почта"
                                id="input-email" class="form-control">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-telephone">Телефон</label>
                        <div class="col-sm-10">
                            <input type="tel" name="telephone" value="+79582088421" placeholder="Телефон"
                                id="input-telephone" class="form-control">
                        </div>
                    </div>
                </fieldset>
                <div class="buttons clearfix">
                    <div class="pull-left"><a href="{% url 'account' %}"
                            class="btn btn-default">Назад</a></div>
                    <div class="pull-right">
                        <input type="submit" value="Продолжить" class="btn btn-primary">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock %}