{% extends 'main/base.html' %}
{% load static %}


{% block content %}
<div class="container">
    <ul class="breadcrumb">
        <li><a href="{% url 'account' %}"><i class="fa fa-home"></i></a></li>
        <li><a href="{% url 'account' %}">Личный кабинет</a></li>
    </ul>
</div>
<div id="account-account" class="container">

    <div class="row">

        <!-- Вставляем сайдбар -->
        {% include 'main/account_sidebar.html' %}

        <div id="content" class="col-sm-9" style="border: none;">
            <h2>Личный кабинет</h2>
            <ul class="list-unstyled">
                <li><a href="{% url 'account_edit' %}">Редактировать контактную информацию</a>
                </li>
                <li><a href="{% url 'account_change_password' %}">Изменить пароль</a></li>
            </ul>
            <h2>Мои заказы</h2>
            <ul class="list-unstyled">
                <li><a href="{% url 'account_order_history' %}">История заказов</a></li>
            </ul>
            <h2>Кабинет партнера</h2>
            <ul class="list-unstyled">
                <li><a href="{% url 'account_affiliate_add' %}">Регистрация в партнерской
                        программе</a></li>
            </ul>
        </div>
    </div>
</div>



{% endblock %}