{% load static %}
<!DOCTYPE html>
<html lang="ru" dir="ltr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Account Login</title>
    <base href="" />
    <script src="{% static 'catalog/view/javascript/jquery/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'catalog/view/javascript/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'catalog/view/javascript/jquery/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'catalog/view/javascript/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'catalog/view/javascript/jquery.countdown.js' %}"></script>
    <link href="{% static 'catalog/view/javascript/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'catalog/view/theme/Mydecor/stylesheet/stylesheet.css' %}" rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css?family=Jost:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'catalog/view/javascript/jquery/magnific/magnific-popup.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'catalog/view/theme/Mydecor/stylesheet/webdigify/lightbox.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'catalog/view/theme/Mydecor/stylesheet/webdigify/carousel.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'catalog/view/theme/Mydecor/stylesheet/webdigify/custom.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'catalog/view/theme/Mydecor/stylesheet/webdigify/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'catalog/view/theme/Mydecor/stylesheet/webdigify/animate.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'catalog/view/theme/Mydecor/stylesheet/webdigify/category-list.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'catalog/view/theme/Mydecor/stylesheet/webdigify/newsletter.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'catalog/view/theme/Mydecor/stylesheet/webdigify/megamenu.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'catalog/view/javascript/jquery/owl-carousel/owl.carousel.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'catalog/view/javascript/jquery/owl-carousel/owl.transitions.css' %}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'catalog/view/javascript/jquery/swiper/css/swiper.min.css' %}" type="text/css" rel="stylesheet" media="screen" />
    <link href="{% static 'catalog/view/javascript/jquery/swiper/css/opencart.css' %}" type="text/css" rel="stylesheet" media="screen" />
    <script src="{% static 'catalog/view/javascript/jquery/swiper/js/swiper.jquery.js' %}"></script>
    <link href="{% static 'image/catalog/photo_2025-08-23_23-15-13.jpg' %}" rel="icon" />
    <!-- webdigify www.templatemela.com - Start -->
    <script src="{% static 'catalog/view/javascript/webdigify/custom.js' %}"></script>
    <script src="{% static 'catalog/view/javascript/webdigify/parallax.js' %}"></script>
    <script src="{% static 'catalog/view/javascript/webdigify/jstree.min.js' %}"></script>
    <script src="{% static 'catalog/view/javascript/webdigify/carousel.min.js' %}"></script>
    <script src="{% static 'catalog/view/javascript/webdigify/webdigify.min.js' %}"></script>
    <script src="{% static 'catalog/view/javascript/webdigify/jquery.custom.min.js' %}"></script>
    <script src="{% static 'catalog/view/javascript/webdigify/jquery.formalize.min.js' %}"></script>
    <script src="{% static 'catalog/view/javascript/webdigify/jquery.elevatezoom.min.js' %}"></script>
    <script src="{% static 'catalog/view/javascript/webdigify/bootstrap-notify.min.js' %}"></script>
    <script src="{% static 'catalog/view/javascript/jquery/magnific/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'catalog/view/javascript/webdigify/tabs.js' %}"></script>
    <script src="{% static 'catalog/view/javascript/webdigify/jquery.hoverdir.js' %}"></script>
    <script src="{% static 'catalog/view/javascript/webdigify/modernizr.js' %}"></script>
    <script src="{% static 'catalog/view/javascript/lightbox/lightbox-2.6.min.js' %}"></script>
    <script src="{% static 'catalog/view/javascript/webdigify/inview.js' %}"></script>
    <script src="{% static 'catalog/view/javascript/webdigify/megamenu.js' %}"></script>
    <!-- ======= Quick view JS ========= -->
    <script>

        function quickbox() {
            if ($(window).width() > 767) {
                $('.quickview-button').magnificPopup({
                    type: 'iframe',
                    delegate: 'a',
                    preloader: true,
                    tLoading: 'Loading image #%curr%...',
                });
            }
        }
        jQuery(document).ready(function () { quickbox(); });
        jQuery(window).resize(function () { quickbox(); });

        $(document).ready(function () {
            $('.category_list ul').owlCarousel({
                items: 5,
                autoPlay: false,
                singleItem: false,
                navigation: true,
                navigationText: ['<i class="fa fa-chevron-left fa-5x"></i>', '<i class="fa fa-chevron-right fa-5x"></i>'],
                pagination: false,
                itemsDesktop: [1459, 5],
                itemsDesktopSmall: [1199, 4],
                itemsTablet: [650, 3],
                itemsTabletSmall: [479, 2],
                itemsMobile: [379, 2]
            });
        });
    </script>
    
    <!-- webdigify www.templatemela.com - End -->
    
    <script src="{% static 'catalog/view/javascript/common.js' %}"></script>

    <!-- Дополнительные стили от наследуемых шаблонов -->
    {% block extra_css %}{% endblock %}
</head>





<body class="account-login   layout-2 left-col">

    <!-- Шапка -->
    <header>
        {% block header %}
        {% include 'main/header.html' %}
        {% endblock %}
    </header>

    <!-- Основной контент -->
        {% block content %}
        {% endblock %}

    <!-- Подвал -->
    <footer>
        {% block footer %}
        {% include 'main/footer.html' %}
        {% endblock %}
    </footer>



<script type="text/javascript">

</script>
<script>
    function addToCart(productId, quantity = 1) {
        $.ajax({
            url: `/cart/add/${productId}/`,  // ← твой Django URL!
            type: 'POST',
            data: {
                quantity: quantity,
                csrfmiddlewaretoken: '{{ csrf_token }}'  // обязательно для POST
            },
            success: function (response) {
                if (response.success) {
                    // Обновляем корзину в хедере
                    $('#cart-total .item-count').text(response.cart_total_items || 0);
                    $('#cart-total .price').text((response.cart_total_price || 0).toFixed(2) + ' ₽');

                    alert('Товар добавлен в корзину!');
                } else {
                    alert('Ошибка: ' + (response.error || 'Неизвестная ошибка'));
                }
            },
            error: function (xhr) {
                alert('Ошибка сервера: ' + xhr.status);
            }
        });
    }
</script>

<script>
            var wd_live_search = {
                selector: '#search input[name=\'search\']',
                text_no_matches: '',
                height: '50px'
            }

            $(document).ready(function() {
                var html = '';
                html += '<div class="live-search">';
                html += '	<ul>';
                html += '	</ul>';
                html += '<div class="result-text"></div>';
                html += '</div>';

                //$(wd_live_search.selector).parent().closest('div').after(html);
                $(wd_live_search.selector).after(html);

                $(wd_live_search.selector).autocomplete({
                    'source': function(request, response) {
                        var filter_name = $(wd_live_search.selector).val();
                        var cat_id = 0;
                        var module_wd_live_search_min_length = '1';
                        if (filter_name.length < module_wd_live_search_min_length) {
                            $('.live-search').css('display','none');
                             $('body').removeClass('search-open');
                        }
                        else{
                            var html = '';
                            html += '<li style="text-align: center;height:10px;">';
                            html +=	'<img class="loading" src="image/catalog/loading.gif" />';
                            html +=	'</li>';
                            $('.live-search ul').html(html);
                            $('.live-search').css('display','block');
                            $('body').addClass('search-open');

                            $.ajax({
                                url: 'index.php?route=extension/module/wd_live_search&filter_name=' +  encodeURIComponent(filter_name),
                                dataType: 'json',
                                success: function(result) {
                                    var products = result.products;
                                    $('.live-search ul li').remove();
                                    $('.result-text').html('');
                                    if (!$.isEmptyObject(products)) {
                                        var show_image = 1;
                                        var show_price = 1;
                                        var show_description = 1;
                                        $('.result-text').html('<a href="http://31.128.43.100/index.php?route=product/search&amp;search='+filter_name+'" class="view-all-results">              View all results                   ('+result.total+')</a>');

                                        $.each(products, function(index,product) {
                                            var html = '';

                                            html += '<li>';
                                            html += '<a href="' + product.url + '" title="' + product.name + '">';
                                            if(product.image && show_image){
                                                html += '	<div class="product-image col-sm-3 col-xs-4"><img alt="' + product.name + '" src="' + product.image + '"></div>';
                                            }
                                            html += '<div class="search-description col-sm-9 col-xs-8">';
                                            html += '	<div class="product-name">' + product.name ;
                                            if(show_description){
                                                html += '<p>' + product.extra_info + '</p>';
                                            }
                                            html += '</div>';
                                            if(show_price){
                                                if (product.special) {
                                                    html += '	<div class="product-price"><span class="price">' + product.special + '</span><span class="special">' + product.price + '</span></div>';
                                                } else {
                                                    html += '	<div class="product-price"><span class="price">' + product.price + '</span></div>';
                                                }
                                            }
                                            html += '</div>';
                                            html += '<span style="clear:both"></span>';
                                            html += '</a>';
                                            html += '</li>';
                                            $('.live-search ul').append(html);
                                        });
                                    } else {
                                        var html = '';
                                        html += '<li style="text-align: center;height:10px;">';
                                        html +=	wd_live_search.text_no_matches;
                                        html +=	'</li>';

                                        $('.live-search ul').html(html);
                                    }
                                    $('.live-search').css('display','block');
                                    $('body').addClass('search-open');
                                    return false;
                                }
                            });
                        }
                    },
                    'select': function(product) {
                        $(wd_live_search.selector).val(product.name);
                    }
                });
            	
                $(document).bind( "mouseup touchend", function(e){
                  var container = $('.live-search');
                  if (!container.is(e.target) && container.has(e.target).length === 0)
                  {
                    container.hide();
                  }
                });
            });
        </script>






    
    <!-- Дополнительные скрипты от страниц -->
    {% block extra_js %}{% endblock %}
    

</body>

</html>