{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>BIOKAM – Биокомплексы Камчатки</title>

	<link rel="icon" type="image/svg+xml" href="{% static 'img/favicon.svg' %}">

    <link class="version" rel="stylesheet" href="{% static 'css/preloader.css' %}">
	<link class="version" rel="stylesheet" href="{% static 'css/main.css' %}">
	<link class="version" rel="stylesheet" href="{% static 'css/parallax.css' %}">
	<link class="version" rel="stylesheet" href="{% static 'css/menu.css' %}">
	<link class="version" rel="stylesheet" href="{% static 'css/firefly.css' %}">
	<link class="version" rel="stylesheet" href="{% static 'css/gallery.css' %}">
	<link class="version" rel="stylesheet" href="{% static 'css/mouse.css' %}">
	<link class="version" rel="stylesheet" href="{% static 'css/messages.css' %}">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script>
		window.preloadImagesList = [
			"{% static 'img/whale_1.png' %}",
			"{% static 'img/whale_2.png' %}",
			"{% static 'img/whale_3.png' %}",
			"{% static 'img/stingray.jpg' %}",   // если файл реально существует
			// добавь остальные картинки, если их больше
		];
	</script>
	<script class="version" src="{% static 'js/preloader.js' %}" defer></script>
	<script class="version" src="{% static 'js/parallax.js' %}" defer></script>
	<script class="version" src="{% static 'js/menu.js' %}" defer></script>
	<script class="version" src="{% static 'js/gallery.js' %}" defer></script>
	<meta property="og:url" content="http://project11930541.tilda.ws/page108283616.html" />
	<meta property="og:title" content="Blank page" />
	<meta property="og:description" content="" />
	<meta property="og:type" content="website" />
	<link rel="canonical" href="http://project11930541.tilda.ws/page108283616.html" />
	<!--/metatextblock-->
	<meta name="format-detection" content="telephone=no" />
	<meta http-equiv="x-dns-prefetch-control" content="on" />
	<link rel="dns-prefetch" href="https://ws.tildacdn.com" />
	<link rel="dns-prefetch" href="https://static.tildacdn.pub" />
	<meta name="robots" content="nofollow" />
	<link rel="shortcut icon" href="https://static.tildacdn.pub/img/tildafavicon.ico" type="image/x-icon" />
	<!-- Assets -->
	<script src="https://neo.tildacdn.com/js/tilda-fallback-1.0.min.js" async charset="utf-8"></script>
	<link rel="stylesheet" href="https://static.tildacdn.pub/css/tilda-grid-3.0.min.css" type="text/css" media="all"
		onerror="this.loaderr='y';" />
	<link rel="stylesheet"
		href="https://static.tildacdn.pub/ws/project11930541/tilda-blocks-page108283616.min.css?t=1768199616"
		type="text/css" media="all" onerror="this.loaderr='y';" />
	<link rel="preconnect" href="https://fonts.gstatic.com" />
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&subset=latin,cyrillic"
		rel="stylesheet" />
	<link rel="stylesheet" href="https://static.tildacdn.pub/css/tilda-animation-2.0.min.css" type="text/css" media="all"
		onerror="this.loaderr='y';" />
	<script nomodule src="https://static.tildacdn.pub/js/tilda-polyfill-1.0.min.js" charset="utf-8"></script>
	<script type="text/javascript">
		function t_onReady(func) {
			if (document.readyState != "loading") {
				func();
			} else {
				document.addEventListener("DOMContentLoaded", func);
			}
		}
		function t_onFuncLoad(funcName, okFunc, time) {
			if (typeof window[funcName] === "function") {
				okFunc();
			} else {
				setTimeout(function () {
					t_onFuncLoad(funcName, okFunc, time);
				}, time || 100);
			}
		}
		function t396_initialScale(t) {
			var e = document.getElementById("rec" + t);
			if (e) {
				var i = e.querySelector(".t396__artboard");
				if (i) {
					window.tn_scale_initial_window_width ||
						(window.tn_scale_initial_window_width =
							document.documentElement.clientWidth);
					var a = window.tn_scale_initial_window_width,
						r = [],
						n,
						l = i.getAttribute("data-artboard-screens");
					if (l) {
						l = l.split(",");
						for (var o = 0; o < l.length; o++) r[o] = parseInt(l[o], 10);
					} else r = [320, 480, 640, 960, 1200];
					for (var o = 0; o < r.length; o++) {
						var d = r[o];
						a >= d && (n = d);
					}
					var _ =
						"edit" === window.allrecords.getAttribute("data-tilda-mode"),
						c = "center" === t396_getFieldValue(i, "valign", n, r),
						s = "grid" === t396_getFieldValue(i, "upscale", n, r),
						w = t396_getFieldValue(i, "height_vh", n, r),
						g = t396_getFieldValue(i, "height", n, r),
						u =
							(!!window.opr && !!window.opr.addons) ||
							!!window.opera ||
							-1 !== navigator.userAgent.indexOf(" OPR/");
					if (!_ && c && !s && !w && g && !u) {
						var h = parseFloat((a / n).toFixed(3)),
							f = [
								i,
								i.querySelector(".t396__carrier"),
								i.querySelector(".t396__filter"),
							],
							v = Math.floor(parseInt(g, 10) * h) + "px",
							p;
						i.style.setProperty("--initial-scale-height", v);
						for (var o = 0; o < f.length; o++)
							f[o].style.setProperty("height", "var(--initial-scale-height)");
						t396_scaleInitial__getElementsToScale(i).forEach(function (t) {
							t.style.zoom = h;
						});
					}
				}
			}
		}
		function t396_scaleInitial__getElementsToScale(t) {
			return t
				? Array.prototype.slice.call(t.children).filter(function (t) {
					return (
						t &&
						(t.classList.contains("t396__elem") ||
							t.classList.contains("t396__group"))
					);
				})
				: [];
		}
		function t396_getFieldValue(t, e, i, a) {
			var r,
				n = a[a.length - 1];
			if (
				!(r =
					i === n
						? t.getAttribute("data-artboard-" + e)
						: t.getAttribute("data-artboard-" + e + "-res-" + i))
			)
				for (var l = 0; l < a.length; l++) {
					var o = a[l];
					if (
						!(o <= i) &&
						(r =
							o === n
								? t.getAttribute("data-artboard-" + e)
								: t.getAttribute("data-artboard-" + e + "-res-" + o))
					)
						break;
				}
			return r;
		}
		(window.TN_SCALE_INITIAL_VER = "1.0"),
			(window.tn_scale_initial_window_width = null);
	</script>
	
	<script src="https://static.tildacdn.pub/ws/project11930541/tilda-blocks-page108283616.min.js?t=1768199616"
		charset="utf-8" async onerror="this.loaderr='y';"></script>
	<script src="https://static.tildacdn.pub/js/tilda-lazyload-1.0.min.js" charset="utf-8" async
		onerror="this.loaderr='y';"></script>
	<script src="https://static.tildacdn.pub/js/tilda-animation-2.0.min.js" charset="utf-8" async
		onerror="this.loaderr='y';"></script>
	<script src="https://static.tildacdn.pub/js/tilda-zero-1.1.min.js" charset="utf-8" async
		onerror="this.loaderr='y';"></script>
	<script src="https://static.tildacdn.pub/js/tilda-animation-sbs-1.0.min.js" charset="utf-8" async
		onerror="this.loaderr='y';"></script>
	<script src="https://static.tildacdn.pub/js/tilda-zero-scale-1.0.min.js" charset="utf-8" async
		onerror="this.loaderr='y';"></script>
	<script src="https://static.tildacdn.pub/js/tilda-zero-video-1.0.min.js" charset="utf-8" async
		onerror="this.loaderr='y';"></script>
	<script src="https://static.tildacdn.pub/js/tilda-events-1.0.min.js" charset="utf-8" async
		onerror="this.loaderr='y';"></script>
	<script type="text/javascript">
		window.dataLayer = window.dataLayer || [];
	</script>
	<script type="text/javascript">
		(function () {
			if (
				/bot|google|yandex|baidu|bing|msn|duckduckbot|teoma|slurp|crawler|spider|robot|crawling|facebook/i.test(
					navigator.userAgent
				) === false &&
				typeof sessionStorage != "undefined" &&
				sessionStorage.getItem("visited") !== "y" &&
				document.visibilityState
			) {
				var style = document.createElement("style");
				style.type = "text/css";
				style.innerHTML =
					"@media screen and (min-width: 980px) {.t-records {opacity: 0;}.t-records_animated {-webkit-transition: opacity ease-in-out .2s;-moz-transition: opacity ease-in-out .2s;-o-transition: opacity ease-in-out .2s;transition: opacity ease-in-out .2s;}.t-records.t-records_visible {opacity: 1;}}";
				document.getElementsByTagName("head")[0].appendChild(style);
				function t_setvisRecs() {
					var alr = document.querySelectorAll(".t-records");
					Array.prototype.forEach.call(alr, function (el) {
						el.classList.add("t-records_animated");
					});
					setTimeout(function () {
						Array.prototype.forEach.call(alr, function (el) {
							el.classList.add("t-records_visible");
						});
						sessionStorage.setItem("visited", "y");
					}, 400);
				}
				document.addEventListener("DOMContentLoaded", t_setvisRecs);
			}
		})();
	</script>

	<script>
		// Показывать/прятать кнопку при скролле
		window.addEventListener('scroll', function () {
			const button = document.getElementById('floating-login');
			const scrollPosition = window.scrollY;
		
			// Показываем после 300px скролла (можно изменить)
			if (scrollPosition > 300) {
				button.classList.add('visible');
			} else {
				button.classList.remove('visible');
			}
		});
	</script>
</head>



	<body style="background-color: #000000;">
		
		<!-- Плавающая кнопка Log In -->
		<a href="accounts/login/">
			<button id="floating-login" class="floating-login hidden">
				Log In
			</button>
		</a>
	<div class="preloader">
		<section class="art-scene scene__fullwidth">
			<div class="art-layer">
				<h1 class="art-layer__caption" style="opacity: 0;">Биокомплексы Камчатки</h1>
				<h2 class="art-layer__title">BIOKAM</h2>
			</div>
			<div class="layer__preloader">
				<div class="progress">
					<div class="progress-value"></div>
				</div>
			</div>
		</section>
	</div>

	
	<div class="content">
		<section class="art-scene scene__fullwidth">
			<div class="parallax">
				<div id="group1" class="parallax__group">
					<img src="{% static 'img/whale_1.png' %}" class="parallax-layer parallax-layer--back-0">
					<div class="art-layer parallax-layer parallax-layer--back-1">
						<h1 class="art-layer__caption">Биокомплексы Камчатки</h1>
						<h2 class="art-layer__title">BIOKAM</h2>
					</div>
					<img src="{% static 'img/whale_2.png' %}" class="parallax-layer parallax-layer--back-2">
					<img src="{% static 'img/whale_3.png' %}" class="parallax-layer parallax-layer--back-3">
				</div>
			</div>
			<div class="ambient">
				<div class="firefly"></div><div class="firefly"></div><div class="firefly"></div>
				<div class="firefly"></div><div class="firefly"></div><div class="firefly"></div>
				<div class="firefly"></div><div class="firefly"></div><div class="firefly"></div>
				<div class="firefly"></div><div class="firefly"></div><div class="firefly"></div>
				<div class="firefly"></div><div class="firefly"></div><div class="firefly"></div>
			</div>
		</section>

		<section class="content-scene" style="padding-top: calc(var(--index) * 6);">
			<div class="content-layer content-layer__centeralign content-layer__transform">
				<h2 class="content-layer__header">Признанные иновации</h2>
				<p class="content-layer__affirmation">ООО «БИОКАМ» является инноватором в производстве премиальных Биокомплексов
				из редкого океанического сырья Камчатского края. Мы проводим тщательные лабораторные исследования и анализы
				на базе научно-исследовательских институтов дальневосточного федерального округа и камчатского края.</p>
			</div>
			<div class="ambient">
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
			</div>
		</section>
		
		<section class="content-scene" style="padding-top: calc(var(--index) * 14);">
			<div class="content-layer content-layer__grid"
				style="grid-template-areas: 'content-layer__image content-layer__description'">
				<div class="content-layer__image">
					<img src="{% static 'img/stingray.jpg' %}">
				</div>
				<div class="content-layer__list">
					<h3 class="content-layer__header">Наши Биологические комплексы — это</h3>
					<ul class="content-layer__paragraph">
						<li>Сырье из экологически чистых океанических вод и ферм Камчатского шельфа.</li>
						<li>Уникальные запатентованные технологии производства препаратов.</li>
						<li>Лабораторные и клинические тестирования подтверждающие эффективность и безопасность.</li>
						<li>Сертификаты и Свидетельства о Государственной регистрации.</li>
					</ul>
				</div>
			</div>
			<div class="content-layer" style="padding-top: calc(var(--index) * 2);">
				<a class="content-layer__button" onclick="setMenuChecked()">Связаться с нами</a>
			</div>
			<div class="ambient">
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
			</div>
		</section>


		<div class="slider-section">
			<!-- Фоновое видео -->
			<video class="slider-video" autoplay muted loop playsinline>
				<source src="{% static 'videos/background3.mp4' %}" type="video/mp4">
			</video>

			
		
			<div class="slider-content">
				<div class="slider-container">
					<div class="slider-track-wrapper" id="sliderWrapper">
						<div class="slider-track" id="sliderTrack">
							<!-- Карточка 1 -->
							<div class="slider-card">
								<div class="card-image">
									<img src="{% static 'img/product_eh.jpg' %}" alt="Product 1" style="width: 500px;">
								</div>
								<div class="card-text">
									<h3>Echino-A</h3>
									<p>Экстренная помощь для приведения в
									норму артериального давления и восстановление работы
									сердечно-сосудистой системы. Используется при предынфарктном
									и постинфарктном состояниях</p>
									<a href="{% url 'category_detail' slug='bady' %}" class="btn">Подробнее</a>
								</div>
							</div>
		
							<!-- Карточка 2 -->
							<div class="slider-card">
								<div class="card-image">
									<img src="{% static 'img/product_oe.jpg' %}" alt="Product 2" style="width: 500px;">
								</div>
								<div class="card-text">
									<h3>Ocean Biotic</h3>
									<p>Профилактика и сопутствующая терапия органов ЖКТ: панкреатит, холецистит, болезнь Крона,
									неспецифичный язвенный колит, кишечный полипоз.</p>
									<a href="{% url 'category_detail' slug='bady' %}" class="btn">Подробнее</a>
								</div>
							</div>
		
							<!-- Карточка 3 -->
							<div class="slider-card">
								<div class="card-image">
									<img src="{% static 'img/product_im.jpg' %}" alt="Product 3" style="width: 500px;">
								</div>
								<div class="card-text">
									<h3>IMMUNO</h3>
									<p>Биологически активная добавка нового поколения из икры морского ежа, для естественного и быстрого
									восстановления жизненных сил при низком иммунитете и аутоиммунных заболеваниях.</p>
									<a href="{% url 'category_detail' slug='bady' %}" class="btn">Подробнее</a>
								</div>
							</div>
						</div>
					</div>
		
					<!-- Точки навигации -->
					<div class="slider-dots">
						<span class="slider-dot active" data-index="0"></span>
						<span class="slider-dot" data-index="1"></span>
						<span class="slider-dot" data-index="2"></span>
					</div>
				</div>
			</div>
		</div>
		
		<style>
			.slider-section {
				position: relative;
				width: 100%;
				min-height: 800px;
				overflow: hidden;
				display: flex;
				align-items: center;
			}
		
			.slider-video {
				position: absolute;
				top: 0;
				left: 0;
				width: 120%;
				height: 100%;
				object-fit: cover;
				z-index: 0;
			}
		
			.slider-content {
				position: relative;
				z-index: 1;
				width: 100%;
				max-width: 1400px;
				margin: 0 auto;
				padding: 60px 20px;
			}
		
			.slider-container {
				position: relative;
				width: 100%;
			}
		
			.slider-track-wrapper {
				width: 100%;
				overflow: hidden;
				cursor: grab;
				user-select: none;
				-webkit-overflow-scrolling: touch;
			}
		
			.slider-track-wrapper:active {
				cursor: grabbing;
			}
		
			.slider-track {
				display: flex;
				gap: 40px;
				transition: transform 0.3s ease-out;
				will-change: transform;
			}
		
			.slider-card {
				min-width: calc(100% - 80px);
				background: rgba(255, 255, 255, 0);
				/* Очень прозрачный фон */
				backdrop-filter: blur(10px);
				/* Эффект матового стекла */
				-webkit-backdrop-filter: blur(10px);
				color: #fff;
				border-radius: 20px;
				box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
				display: flex;
				padding: 40px;
				gap: 40px;
				transition: transform 0.3s ease, box-shadow 0.3s ease;
			}
		
			
			.card-image {
				flex: 0 0 auto;
			}
		
			.card-image img {
				width: 500px;
				height: auto;
				border-radius: 15px;
				object-fit: cover;
				box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
			}
		
			.card-text {
				flex: 1;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
		
			.card-text h3 {
				font-size: 32px;
				margin-bottom: 20px;
				color: #fff;
				text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
			}
		
			.card-text p {
				font-size: 16px;
				line-height: 1.8;
				margin-bottom: 20px;
				color: #fff;
				text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
			}
		
			.card-text ul {
				list-style: none;
				padding: 0;
				margin-bottom: 30px;
			}
		
			.card-text li {
				font-size: 16px;
				margin-bottom: 10px;
				color: #fff;
				text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
			}
		
			.btn {
				display: inline-block;
				padding: 15px 40px;
				background: #A4E5E0;
				color: #333;
				text-decoration: none;
				border-radius: 8px;
				font-weight: bold;
				font-size: 16px;
				transition: all 0.3s ease;
				align-self: flex-start;
				border: none;
				cursor: pointer;
			}
		
			.btn:hover {
				background: #8acbc6;
				transform: translateY(-2px);
				box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
			}
		
			.slider-dots {
				display: flex;
				justify-content: center;
				gap: 12px;
				margin-top: 40px;
			}
		
			.slider-dot {
				width: 14px;
				height: 14px;
				border-radius: 50%;
				background: rgba(255, 255, 255, 0.3);
				cursor: pointer;
				transition: all 0.3s ease;
			}
		
			.slider-dot.active {
				background: #A4E5E0;
				transform: scale(1.2);
			}
		
			.slider-dot:hover {
				background: rgba(255, 255, 255, 0.8);
			}
		
		
		/* Мобильная версия */
    /* Мобильная версия */
    @media (max-width: 768px) {
        .slider-section {
            min-height: 600px;
        }

        .slider-content {
            padding: 30px 0;
        }

        .slider-card {
            flex-direction: column;
            padding: 20px;
            gap: 20px;
            width: 95%;
        }

        .card-image {
            width: 100%;
        }

        .card-image img {
            width: 250px;
            max-width: 100%;
        }

        .card-text h3 {
            font-size: 22px;
            margin-bottom: 12px;
            text-align: center;
        }

        .card-text p {
            font-size: 14px;
            margin-bottom: 15px;
            text-align: center;
        }

        .card-text ul {
            margin-bottom: 20px;
        }

        .card-text li {
            font-size: 14px;
            text-align: left;
        }

        .btn {
            padding: 12px 30px;
            font-size: 14px;
            align-self: center;
        }

        .slider-dots {
            margin-top: 25px;
        }
    }

    @media (max-width: 480px) {
    .slider-section {
        min-height: auto; /* Убираем фиксированную высоту */
        padding: 160px 0; /* Отступы сверху и снизу для всего окна слайдера */
    }

    .slider-content {
        padding: 0; /* Убираем внутренние отступы */
    }

    .slider-card {
        min-width: 100%;
        width: 94%;
        margin: 0 auto;
        padding: 20px 15px; /* Увеличил вертикальные отступы внутри карточки */
        gap: 15px;
        flex-direction: column;
        box-sizing: border-box;
        margin-left: auto !important;
        margin-right: auto !important;
		align-items: center;
    }

    .card-image {
        width: 80%;
        text-align: center;
        margin-bottom: 5px;
    }

    .card-image img {
        width: 120px; /* Уменьшил картинку */
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .card-text {
        width: 100%;
        text-align: center; /* Центрируем текст */
    }

    .card-text h3 {
        font-size: 18px;
        margin-bottom: 8px;
        text-align: center;
    }

    .card-text p {
        font-size: 12px;
        line-height: 1.5;
        margin-bottom: 10px;
        text-align: center;
    }

    .card-text ul {
        list-style: none;
        padding: 0;
        margin: 10px auto;
        display: inline-block; /* Чтобы список был по центру */
        text-align: left; /* Но сам текст списка слева */
    }

    .card-text li {
        font-size: 12px;
        margin-bottom: 5px;
        text-align: left;
    }

    .btn {
        padding: 8px 20px;
        font-size: 12px;
        display: inline-block;
        margin: 10px auto 0; /* Центрируем кнопку */
    }

    .slider-dots {
        display: flex;
        justify-content: center;
        gap: 8px;
        margin-top: 25px; /* Увеличил отступ */
        padding-bottom: 10px;
    }

    .slider-dot {
        width: 8px;
        height: 8px;
    }
}

			
		</style>
		
		<script>
			document.addEventListener('DOMContentLoaded', function () {
				const track = document.getElementById('sliderTrack');
				const wrapper = document.getElementById('sliderWrapper');
				const cards = document.querySelectorAll('.slider-card');
				const dots = document.querySelectorAll('.slider-dot');

				let currentIndex = 0;
				let startX = 0;
				let endX = 0;
				let isTouch = false;

				const gap = 40;

				function cardWidth() {
					return cards[0].offsetWidth + gap;
				}

				function updateSlider(index) {
					currentIndex = Math.max(0, Math.min(index, cards.length - 1));
					track.style.transition = 'transform 0.4s ease';
					track.style.transform = `translateX(-${currentIndex * cardWidth()}px)`;

					dots.forEach((dot, i) => {
						dot.classList.toggle('active', i === currentIndex);
					});
				}

				// ====== TOUCH (телефон) ======
				wrapper.addEventListener('touchstart', e => {
					startX = e.touches[0].clientX;
					isTouch = true;
				});

				wrapper.addEventListener('touchend', e => {
					endX = e.changedTouches[0].clientX;
					handleSwipe();
				});

				// ====== MOUSE (десктоп) ======
				wrapper.addEventListener('mousedown', e => {
					startX = e.clientX;
					isTouch = false;
				});

				wrapper.addEventListener('mouseup', e => {
					endX = e.clientX;
					handleSwipe();
				});

				function handleSwipe() {
					const diff = endX - startX;

					if (Math.abs(diff) < 50) return;

					if (diff > 0) {
						updateSlider(currentIndex - 1); // свайп вправо
					} else {
						updateSlider(currentIndex + 1); // свайп влево
					}
				}

				// ====== DOTS ======
				dots.forEach((dot, index) => {
					dot.addEventListener('click', () => updateSlider(index));
				});

				// ====== AUTO SLIDE ======
				setInterval(() => {
					updateSlider(
						currentIndex === cards.length - 1 ? 0 : currentIndex + 1
					);
				}, 7000);

				updateSlider(0);
			});
		</script>

		
		<section class="content-scene" style="padding-top: calc(var(--index) * 14);">
			<div class="content-layer content-layer__grid" style="grid-template-areas: 'content-layer__description content-layer__image'">
				<div class="content-layer__image">
					<img src="{% static 'img/denis.jpg' %}">
				</div>
				<div class="content-layer__description">
					<h3 class="content-layer__header">Наши принципы</h3>
					<div class="content-layer__quote">
						<p class="content-layer__paragraph">Наша главная задача разрабатывать и производить эффективные Биологические комплексы из самого экологичного в мире сырья с высокой доказательной клинической базой для вашего здоровья и долголетия, при этом бережно относиться к щедрой природе Камчатской земли.</p>
						<p class="content-layer__paragraph">Из тех мест, где природа ещё не тронута антропогенными факторами мы добываем сырье ручным способом, чтобы минимально влиять на хрупкую экоструктуру.</p>
						<p class="content-layer__paragraph">Извлечение действующих веществ и производство препаратов осуществляется нами без применения высоких температур и агрессивных кислот. Все процессы ведутся с использованием безопасных органических компонентов, что гарантирует высокое качество и чистоту наших биокомплексов.</p>
					</div>
					<p class="content-layer__paragraph content-layer__cite">— Пашнюк Денис Александрович<br>Создатель биологических добавок Биокам<br>Кандидат биологических наук</p>
				</div>
			</div>
			<div class="ambient">
				<div class="firefly"></div><div class="firefly"></div><div class="firefly"></div>
				<div class="firefly"></div><div class="firefly"></div><div class="firefly"></div>
				<div class="firefly"></div><div class="firefly"></div><div class="firefly"></div>
				<div class="firefly"></div><div class="firefly"></div><div class="firefly"></div>
				<div class="firefly"></div><div class="firefly"></div><div class="firefly"></div>
			</div>
		</section>

		<section class="art-scene scene__fullwidth" style="padding-top: calc(var(--index) * 12);">
			<div class="parallax">
				<div id="group2" class="parallax__group">
					<img src="{% static 'img/diver.jpg' %}" class="parallax-layer">
				</div>
			</div>
			<div class="ambient">
				<div class="firefly"></div><div class="firefly"></div><div class="firefly"></div>
				<div class="firefly"></div><div class="firefly"></div><div class="firefly"></div>
				<div class="firefly"></div><div class="firefly"></div><div class="firefly"></div>
				<div class="firefly"></div><div class="firefly"></div><div class="firefly"></div>
				<div class="firefly"></div><div class="firefly"></div><div class="firefly"></div>
			</div>
		</section>


		

		<script>
			document.addEventListener('DOMContentLoaded', function () {
				// работаем ТОЛЬКО на мобильных
				if (window.innerWidth > 768) return;

				const btn = document.querySelector('.global-show-more-btn');
				const list = document.querySelector('.expandable-list');
				const composition = document.querySelector('.composition-block');

				if (!btn) return;

				btn.addEventListener('click', function () {
					const expanded = btn.classList.toggle('active');

					if (list) {
						list.classList.toggle('expanded', expanded);
					}

					if (composition) {
						composition.classList.toggle('visible', expanded);
					}
				});
			});
		</script>

		<section class="content-scene" style="padding-top: calc(var(--index) * 8); --color: #52a7d5; --shadow: #006ab1;">
		
			<!-- Блок Ocean Biotic (всегда виден частично) -->
			<div id="ocian_biotic" class="content-layer content-layer__grid"
				style="grid-template-areas: 'content-layer__image content-layer__description'">
				<a href="{% url 'category_detail' slug='bady' %}">
					<div class="content-layer__image">
						<img src="{% static 'img/product_oe.jpg' %}">
					</div>
				</a>
				<div class="content-layer__list">
					<h3 class="content-layer__header">Ocean Biotic</h3>
		
					<ul class="content-layer__paragraph expandable-list">
						<li>Профилактика и сопутствующая терапия органов ЖКТ: панкреатит, холецистит, болезнь Крона,
							неспецифичный язвенный колит, кишечный полипоз.</li>
						<!-- скрытые пункты Ocean Biotic -->
		
						<li class="hidden-item">Регулирует процесс восстановления дефицита ферментов в организме и обеспечивает
							их необходимое
							количество.</li>
						<li class="hidden-item">Подавляет патогенные микроорганизмы, включая Хеликобактер.</li>
						<li class="hidden-item">Участвует в синтезе «протеина желтка» (вителлогенин) — главного компонента
							репродуктивной системы.</li>
						<li class="hidden-item">Повышает перевариваемость клеточных стенок всех форм клетчатки.</li>
					</ul>
				</div>
			</div>
		
			<!-- Блок Состав — скрыт по умолчанию полностью -->
			<div class="content-layer content-layer__grid composition-block hidden-block"
				style="grid-template-areas: 'content-layer__description content-layer__image'; margin-top: 32px;">
				<div class="content-layer__image">
					<img src="{% static 'img/pill_oe.jpg' %}">
				</div>
				<div class="content-layer__list">
					<h3 class="content-layer__header">Состав</h3>
					<ul class="content-layer__paragraph">
						<li>Комплекс ферментов (протеаз, карбогидраз, липаз) из поджелудочной железы морского тюленя Erignatus.
						</li>
						<li>Ферментированный гидролизат бурых водорослей рода Laminaria.</li>
						<li>Бактериальные симбионты кишечника человека (vibrio, pseudomonas, aeromonas, proteobacteria,
							fusobacteria).</li>
						<li>Источники целомоцитов и Ciliophora, полученные из пищеварительной системы морских гидробионтов.</li>
					</ul>
				</div>
			</div>
		
			<!-- Одна общая кнопка -->
			<div class="content-layer" style="padding-top: calc(var(--index) * 2); text-align: center;">
				<button class="global-show-more-btn" type="button" data-target="ocian_biotic">Показать больше</button>
			</div>
		
			<!-- Заказать сейчас -->
			<div class="content-layer" style="padding-top: calc(var(--index) * 2); text-align: center;">
				<a class="content-layer__button" style="text-decoration-line: none;"
					href="{% url 'category_detail' slug='bady' %}">Заказать сейчас</a>
			</div>
		
			<!-- ambient -->
			<div class="ambient">
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
			</div>
		</section>
		
		<section class="content-scene" style="padding-top: calc(var(--index) * 8); --color: #53bac4; --shadow: #008a70;">
		
			<!-- Описание -->
			<div id="phormidium" class="content-layer content-layer__grid"
				style="grid-template-areas: 'content-layer__image content-layer__description'">
				<a href="{% url 'category_detail' slug='bady' %}">
					<div class="content-layer__image">
						<img src="{% static 'img/product_ph.jpg' %}">
					</div>
				</a>
				<div class="content-layer__list">
					<h3 class="content-layer__header">Phormidium</h3>
		
					<ul class="content-layer__paragraph expandable-list">
						<li>Единственный в природе натуральный биоактивный регенеративный клеточный комплекс.</li>
		
						<li class="hidden-item">Сине-зеленая нитчатая микро-водоросль рода Phormidium sp., обитающая в
							экстремальных условиях термальных вод Камчатки.</li>
						<li class="hidden-item">Богатый состав микро- и макроэлементов, а также нуклеиновые кислоты ДНК и РНК,
							выполняющие важнейшие функции по хранению и передаче генетической информации.</li>
						<li class="hidden-item">Содержит гамма-линоленовую кислоту, относящуюся к полиненасыщенным жирным
							кислотам типа Омега-6.</li>
						<li class="hidden-item">Включает холинэстеразу, хлорофилл как источник органического железа, средства
							для детоксикации и очищения от шлаков.</li>
						<li class="hidden-item">Фикоцианин стимулирует иммунную систему и задерживает рост раковых клеток.</li>
						<li class="hidden-item">Содержит ферменты и множество других активных веществ.</li>
					</ul>
				</div>
			</div>
		
		
			<!-- Состав -->
			<div class="content-layer content-layer__grid composition-block hidden-block"
				style="grid-template-areas: 'content-layer__description content-layer__image'; margin-top: 32px;">
		
				<div class="content-layer__image">
					<img src="{% static 'img/pill_ph.jpg' %}">
				</div>
		
				<div class="content-layer__list">
					<h3 class="content-layer__header">Состав</h3>
		
					<ul class="content-layer__paragraph">
						<li>Аминокислоты: Аспарагиновая, Аргинин, Аланин, Валин, Гистидин, Глютамин, Глутаминовая, Глицин,
							Изолейцин, Лейцин, Лизин, Метионин, Пролин, Серин, Цистин, Треонин, Тирозин, Триптофан, Фенилаланин.
						</li>
						<li>Минералы: Медь, Цинк, Германий, Магний, Железо, Хром, Марганец, Натрий, Калий, Фосфор, Селен,
							Кальций, Йод.</li>
						<li>Витамины: Бетта каротин, E, C, B1, B2, B3, B4, B5, B6, B8, B9, B12, Инозитол, PP, Фолиевая кислота.
						</li>
						<li>Пигменты: Каротиноиды, Хлорофилл, Фикоцианин, Фикоцианобилин, С-Фикоциан.</li>
						<li>Жирные кислоты: Лауриновая, Маристиновая, Пальмитиновая, Пальмитолеиновая, Гептадексановая,
							Стеариновая, Олеиновая, Линолевая, Гамма-линолевая, Бетта-линолевая, Пантотеновая, Нуклеиновая и др.
							кислоты.</li>
					</ul>
				</div>
			</div>
		
		
			<!-- Кнопка -->
			<div class="content-layer" style="padding-top: calc(var(--index) * 2); text-align: center;">
				<button class="global-show-more-btn" style="background-color: #008a70; border-color: #04c7a3;" type="button"
					data-target="phormidium">Показать больше</button>
			</div>
		
		
		
			<!-- Заказать -->
			<div class="content-layer" style="padding-top: calc(var(--index) * 2); text-align: center;">
				<a class="content-layer__button" style="text-decoration-line: none;"
					href="{% url 'category_detail' slug='bady' %}">Заказать сейчас</a>
			</div>
		
			<div class="ambient">
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
			</div>
		
		</section>
		
		<section class="content-scene" style="padding-top: calc(var(--index) * 8); --color: #04995a; --shadow: #027d3b;">
		
			<div id="nutrients" class="content-layer content-layer__grid"
				style="grid-template-areas: 'content-layer__image content-layer__description'">
				<a href="{% url 'category_detail' slug='bady' %}">
					<div class="content-layer__image">
						<img src="{% static 'img/product_nc.jpg' %}">
					</div>
				</a>
				<div class="content-layer__list">
					<h3 class="content-layer__header">Nutrients</h3>
		
					<ul class="content-layer__paragraph expandable-list">
						<li>Натуральный пищевой продукт, полученный из экологически чистых дальневосточных бурых морских
							водорослей.</li>
		
						<li class="hidden-item">Благодаря уникальной инновационной низкотемпературной технологии, усвояемость
							комплекса составляет 96%-98%.</li>
							<li class="hidden-item">профилактика и лечение проблем с ЖКТ (гастрит,
							язвенная болезнь);</li>
							<li class="hidden-item">выводит из организма шлаки, аллергены, липиды,
							тяжёлые металлы, в том числе радионуклиды;</li>
							<li class="hidden-item">регулирует кислотную среду в кишечнике;</li>
							<li class="hidden-item">снижает уровень содержания сахара и холестерина в
							крови;</li>
							<li class="hidden-item">богатый источник природного йода;</li>
							<li class="hidden-item">рекомендован детям для здорового роста и умственного
							развития;</li>
							<li class="hidden-item">используется при алкогольной интоксикации.</li>
					</ul>
				</div>
			</div>
		
		
			<div class="content-layer content-layer__grid composition-block hidden-block"
				style="grid-template-areas: 'content-layer__description content-layer__image'; margin-top: 32px;">
		
				<a href="{% url 'category_detail' slug='bady' %}">
					<div class="content-layer__image">
						<img src="{% static 'img/pill_nc.jpg' %}">
					</div>
				</a>
				<div class="content-layer__list">
					<h3 class="content-layer__header">Состав</h3>
		
					<ul class="content-layer__paragraph">
						<li>Порошок ферментативного гидролизата и автолизата натуральных</li>
						<li>водорослей Laminaria Saccharina.Природные полисахариды:</li>
						<li>(фукоидан, маннит,
						альгинат натрия). Кальций. Калий. Натрий. Магний.</li>
						<li>Цинк. Железо. Марганец. Медь.
						Фосфор. Йод.</li>
					</ul>
				</div>
			</div>
		
		
			<div class="content-layer" style="padding-top: calc(var(--index) * 2); text-align: center;">
				<button class="global-show-more-btn" style="background-color: #027d3b; border-color: #0ab65a;" type="button"
					data-target="nutrients">Показать больше</button>
			</div>
		
			<div class="content-layer" style="padding-top: calc(var(--index) * 2); text-align: center;">
				<a class="content-layer__button" style="text-decoration-line: none;"
					href="{% url 'category_detail' slug='bady' %}">Заказать сейчас</a>
			</div>
		
			<div class="ambient">
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
			</div>
		
		</section>
		
		<section class="content-scene" style="padding-top: calc(var(--index) * 12);">
			<div class="content-layer content-layer__centeralign content-layer__transform">
				<h2 class="content-layer__header">Консультация бесплатно</h2>
				<p class="content-layer__affirmation">Обратитесь к нашим специалистам, чтобы подобрать биокомплексы подходящие
					конкретно вам и извлечь максимальную пользу для вашего здоровья. Консультация совершенно бесплатна и ни к
					чему вас не обязывает.</p>
			</div>
			<div class="ambient">
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
			</div>
		</section>
		
		<section class="content-scene" style="padding-top: calc(var(--index) * 6 + 50px); --color: #d6a448; --shadow: #8e5527;">
		
			<!-- Описание -->
			<div id="immuno" class="content-layer content-layer__grid"
				style="grid-template-areas: 'content-layer__image content-layer__description'">
		
				<a href="{% url 'category_detail' slug='bady' %}">
					<div class="content-layer__image">
						<img src="{% static 'img/product_im.jpg' %}">
					</div>
				</a>
				<div class="content-layer__list">
					<h3 class="content-layer__header">Immuno</h3>
		
					<ul class="content-layer__paragraph expandable-list">
						<li>Биологически активная добавка нового поколения из икры морского ежа, для естественного и быстрого
							восстановления жизненных сил при низком иммунитете и аутоиммунных заболеваниях.</li>
		
						<li class="hidden-item">100% из одного биологического материала, 99% усвояемость.</li>
						<li class="hidden-item">Иммуномодулирующее, иммунокорректорное средство, антиоксидант, кардиопротектор,
							вазопротектор, регулятор эндокринной системы и обмена веществ.</li>
						<li class="hidden-item">Рекомендуется при болезнях крови и кроветворных органов (анемии, лейкопении),
							для повышения потенции, либидо и как профилактическое средство.</li>
						<li class="hidden-item">Иммунный биомодулятор широкого спектра действия, с богатым набором незаменимых
							строительных аминокислот и микроэлементов.</li>
						<li class="hidden-item">Проведенные исследования в клинических лабораториях ФМБА России им. Бехтерева
							подтвердили наличие в продукте уникального природного строительного белка вителлогенина.</li>
						<li class="hidden-item">Вителлогенин — природный строительный материал клеток организма, источник их
							зарождения и существования. Без него не было бы жизни на Земле!</li>
					</ul>
				</div>
			</div>
		
			<!-- Состав -->
			<div class="content-layer content-layer__grid composition-block hidden-block"
				style="grid-template-areas: 'content-layer__description content-layer__image'; margin-top: 32px;">
		
				<div class="content-layer__image">
					<img src="{% static 'img/pill_im.jpg' %}">
				</div>
		
				<div class="content-layer__list">
					<h3 class="content-layer__header">Состав</h3>
		
					<ul class="content-layer__paragraph">
						<li>Аминокислоты: Аспарагиновая, Аргинин, Аланин, Валин, Гистидин, Глутаминовая, Глицин, Изолейцин,
							Лейцин, Лизин, Метионин, Пролин, Серин, Цистин, Треонин, Тирозин, Триптофан, Фенилаланин.</li>
						<li>Витамины: A, D, E, C, B1, B2, B6, B12, PP, K1.</li>
						<li>Каротиноиды: Фукоксантин, Лютеин, α-зеаксантин, β-зеаксантин, β-криптоксантин, α-эхиненон,
							β-эхиненон, α-каротин, β-каротин, изокриптоксантин, астаксантин, фукоксантинол.</li>
						<li>Минералы: Медь, Цинк, Кобальт, Магний, Железо, Никель, Хром, Марганец, Натрий, Калий, Фосфор, Селен,
							Кальций, Йод.</li>
						<li>Жирные кислоты: Миристиновая, Пентадекановая, Пальмитиновая, Стеариновая, Эйкозановая,
							Генейкозановая, Миристолеиновая, Пентадециленовая, Пальмитолеиновая, Олеиновая, Гондоиновая,
							Стиоридовая, Линоленовая, Линолевая, Арахидоновая и др.</li>
					</ul>
				</div>
			</div>
		
			<!-- Кнопка -->
			<div class="content-layer" style="padding-top: calc(var(--index) * 2); text-align: center;">
				<button class="global-show-more-btn" style="background-color: #8e5527; border-color: #d68039; --color: #d68039;"
					type="button" data-target="immuno">Показать больше</button>
			</div>
		
			<!-- Заказать -->
			<div class="content-layer" style="padding-top: calc(var(--index) * 2); text-align: center;">
				<a class="content-layer__button" style="text-decoration-line: none;"
					href="{% url 'category_detail' slug='bady' %}">Заказать сейчас</a>
			</div>
		
			<div class="ambient">
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
			</div>
		
		</section>
		
		<section class="content-scene" style="padding-top: calc(var(--index) * 8); --color: #bc6c2a; --shadow: #823c21;">
		
			<!-- Описание -->
			<div id="omega3" class="content-layer content-layer__grid"
				style="grid-template-areas: 'content-layer__image content-layer__description'">
		
				<a href="{% url 'category_detail' slug='bady' %}">
					<div class="content-layer__image">
						<img src="{% static 'img/product_dpa.jpg' %}">
					</div>
				</a>
		
				<div class="content-layer__list">
					<h3 class="content-layer__header">Omega-3</h3>
		
					<ul class="content-layer__paragraph expandable-list">
						<li>Единственный комплекс на всей территории России с докозапентаеновой кислотой, скваленом, витаминами
							D3 и K2.</li>
		
						<li class="hidden-item">Omega-3 с докозапентаеновой кислотой (DPA) из подкожного сала нерпы легко
							трансформируется в организме в EPA или DHA.</li>
						<li class="hidden-item">DPA более стабильна и менее подвержена окислению.</li>
						<li class="hidden-item">Улучшает баланс Омега-3 и Омега-6, снижает уровень депрессии.</li>
						<li class="hidden-item">Стимулирует клетки, защищающие кровеносные сосуды и предотвращает образование
							тромбов.</li>
						<li class="hidden-item">Триглицеридная форма ПНЖК уменьшает нагрузку на печень.</li>
					</ul>
				</div>
			</div>
		
			<!-- Состав -->
			<div class="content-layer content-layer__grid composition-block hidden-block"
				style="grid-template-areas: 'content-layer__description content-layer__image'; margin-top: 32px;">
		
				<div class="content-layer__image">
					<img src="{% static 'img/pill_dpa.jpg' %}">
				</div>
		
				<div class="content-layer__list">
					<h3 class="content-layer__header">Состав</h3>
		
					<ul class="content-layer__paragraph">
						<li>DPA: 212 мг</li>
						<li>EPA: 148 мг</li>
						<li>DHA: 228 мг</li>
						<li>Сквален: 164 мг</li>
						<li>Витамин D3: 10,4 мкг</li>
						<li>Витамин K2: 40,8 мкг</li>
					</ul>
				</div>
			</div>
		
			<!-- Кнопка -->
			<div class="content-layer" style="padding-top: calc(var(--index) * 2); text-align: center;">
				<button class="global-show-more-btn" style="background-color: #823c21; border-color: #c75e34; --color: #c75e34;"
					type="button" data-target="omega3">Показать больше</button>
			</div>
		
			<!-- Заказать -->
			<div class="content-layer" style="padding-top: calc(var(--index) * 2); text-align: center;">
				<a class="content-layer__button" style="text-decoration-line: none;"
					href="{% url 'category_detail' slug='bady' %}">Заказать сейчас</a>
			</div>
		
		
			<div class="ambient">
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
			</div>
		
		</section>
		
		<section class="content-scene" style="padding-top: calc(var(--index) * 8); --color: #bc6c2a; --shadow: #823c21;">
		
			<!-- Описание -->
			<div id="echino" class="content-layer content-layer__grid"
				style="grid-template-areas: 'content-layer__image content-layer__description'">
		
				<a href="{% url 'category_detail' slug='bady' %}">
					<div class="content-layer__image">
						<img src="{% static 'img/product_eh.jpg' %}">
					</div>
				</a>
		
				<div class="content-layer__list">
					<h3 class="content-layer__header">Echino-A</h3>
		
					<ul class="content-layer__paragraph expandable-list">
						<li>Экстренная помощь для приведения в
							норму артериального давления и восстановление работы
							сердечно-сосудистой системы. Используется при предынфарктном
							и постинфарктном состояниях</li>
		
						<li class="hidden-item">оказывает противоопухолевое действие;</li>
						<li class="hidden-item">обладает иммуностимулирующим и радиопротекторным
							действием, в том числе при лучевой терапии, ускоряет процесс
							регенерации тканей;</li>
						<li class="hidden-item">нормализует работу печени, эффективен при гепатитах,
							циррозе печени;</li>
						<li class="hidden-item">восстанавливает эластичность сосудов, снижает уровень
							холестерина в крови;</li>
					</ul>
				</div>
			</div>
		
			<!-- Состав -->
			<div class="content-layer content-layer__grid composition-block hidden-block"
				style="grid-template-areas: 'content-layer__description content-layer__image'; margin-top: 32px;">
		
				<div class="content-layer__image">
					<img src="{% static 'img/urchin.jpg' %}">
				</div>
		
				<div class="content-layer__list">
					<h3 class="content-layer__header">Состав</h3>
		
					<ul class="content-layer__paragraph">
						<li>Спинохромы (А, В, С, Е), 2,7-дигидроксинафтазарин, эхинохром А</li>
						<li>аминопентагидроксинафтохинон и ацетиламинотригидроксинафтохинон в этиловом</li>
						<li>спирте с добавлением аскорбиновой кислоты</li>
					</ul>
				</div>
			</div>
		
			<!-- Кнопка -->
			<div class="content-layer" style="padding-top: calc(var(--index) * 2); text-align: center;">
				<button class="global-show-more-btn" style="background-color: #823c21; border-color: #c75e34; --color: #c75e34;"
					type="button" data-target="echino">Показать больше</button>
			</div>
		
			<!-- Заказать -->
			<div class="content-layer" style="padding-top: calc(var(--index) * 2); text-align: center;">
				<a class="content-layer__button" style="text-decoration-line: none;"
					href="{% url 'category_detail' slug='bady' %}">Заказать сейчас</a>
			</div>
		
		
			<div class="ambient">
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
				<div class="firefly"></div>
			</div>
		
		</section>
		
		<!-- JavaScript для работы кнопок "Показать больше" -->
		<script>
			document.addEventListener('DOMContentLoaded', function () {
				// Находим все кнопки с классом global-show-more-btn
				const showMoreButtons = document.querySelectorAll('.global-show-more-btn');

				showMoreButtons.forEach(button => {
					button.addEventListener('click', function () {
						// Получаем ID целевого блока из атрибута data-target
						const targetId = this.getAttribute('data-target');

						if (targetId) {
							// Находим родительскую секцию
							const section = this.closest('.content-scene');

							if (section) {
								// Находим в этой секции все скрытые элементы
								const hiddenItems = section.querySelectorAll('.hidden-item');
								const hiddenBlocks = section.querySelectorAll('.hidden-block');

								// Показываем скрытые пункты списка
								hiddenItems.forEach(item => {
									item.classList.remove('hidden-item');
									item.style.display = 'list-item';
								});

								// Показываем скрытые блоки (состав)
								hiddenBlocks.forEach(block => {
									block.classList.remove('hidden-block');
									block.style.display = 'grid';
								});

								// Скрываем кнопку после нажатия
								this.style.display = 'none';
							}
						}
					});
				});
			});
		</script>


		<section class="content-scene" style="padding-top: calc(var(--index) * 14);">
			<div class="content-layer">
				<div class="content-layer__gallery">
					<h3 class="content-layer__header content-layer__centeralign">Камчатский край</h3>
					<div class="gallery">
						<div class="image"><img src="{% static 'gallery/1.jpg' %}"></div>
						<div class="image"><img src="{% static 'gallery/2.jpg' %}"></div>
						<div class="image"><img src="{% static 'gallery/3.jpg' %}"></div>
						<div class="image"><img src="{% static 'gallery/4.jpg' %}"></div>
						<div class="image"><img src="{% static 'gallery/5.jpg' %}"></div>
						<div class="image"><img src="{% static 'gallery/6.jpg' %}"></div>
						<div class="image"><img src="{% static 'gallery/7.jpg' %}"></div>
						<div class="image"><img src="{% static 'gallery/8.jpg' %}"></div>
						<div class="image"><img src="{% static 'gallery/9.jpg' %}"></div>
						<div class="image"><img src="{% static 'gallery/10.jpg' %}"></div>
						<div class="image"><img src="{% static 'gallery/11.jpg' %}"></div>
						<div class="image"><img src="{% static 'gallery/12.jpg' %}"></div>
						<div class="image"><img src="{% static 'gallery/13.jpg' %}"></div>
						<div class="image"><img src="{% static 'gallery/14.jpg' %}"></div>
						<div class="image"><img src="{% static 'gallery/15.jpg' %}"></div>
						<div class="image"><img src="{% static 'gallery/16.jpg' %}"></div>
						<div class="image"><img src="{% static 'gallery/17.jpg' %}"></div>
						<div class="image"><img src="{% static 'gallery/18.jpg' %}"></div>
						<div class="image"><img src="{% static 'gallery/19.jpg' %}"></div>
						<div class="image"><img src="{% static 'gallery/20.jpg' %}"></div>
						<div class="image"><img src="{% static 'gallery/21.jpg' %}"></div>
						<div class="image"><img src="{% static 'gallery/22.jpg' %}"></div>
						<div class="image"><img src="{% static 'gallery/23.jpg' %}"></div>
						<div class="image"><img src="{% static 'gallery/24.jpg' %}"></div>
					</div>
				</div>
				<div class="content-layer__mouse">
					<div class="mouse"></div>
					<p class="text">Листайте вправо</p>
				</div>
			</div>
			<div class="ambient">
				<div class="firefly"></div><div class="firefly"></div><div class="firefly"></div>
				<div class="firefly"></div><div class="firefly"></div><div class="firefly"></div>
				<div class="firefly"></div><div class="firefly"></div><div class="firefly"></div>
				<div class="firefly"></div><div class="firefly"></div><div class="firefly"></div>
				<div class="firefly"></div><div class="firefly"></div><div class="firefly"></div>
			</div>
		</section>

		<section class="content-scene" style="padding-top: calc(var(--index) * 14);">
			<div class="content-layer">
				<div class="content-layer__chat">
					<h3 class="content-layer__header content-layer__centeralign">Отзывы о нас</h3>
					<div class="chat">
						<div class="messages" id="chat">
							<div class="time">
								10 мая
							</div>
							<div class="message from">
								<span class="title">Мария Власова</span><br>
								Мне помогло от проблемам с кожей, сухость, натянутость и морщины как рукой сняло. Это при том что у меня очень проблемная кожа и жирная, и непонятно какая. Даже жалко, что раньше не нашла вас. Буду принимать регулярно!<br>
								⭐⭐⭐⭐⭐
							</div>
							<div class="message to">
								<span class="title">Менеджер БИОКАМ</span><br>
								Спасибо за теплые слова, Мария. Мы производим Биологические комплексы только из натуральных компонентов чистых океанических вод Камчатского шельфа, поэтому можем ручаться за высшее качество!
							</div>
							<div class="time">
								19 мая
							</div>
							<div class="message from">
								<span class="title">Александр Головин</span><br>
								Спасибо большое компании производителю этих уникальных биокомплесков. Это просто волшебство Камчатского края. Помогли восстановиться после операции матери, хотя врачи уже поставили крест. Сейчас принимаем всей семьей, регулярно!<br>
								⭐⭐⭐⭐⭐
							</div>
							<div class="message to">
								<span class="title">Менеджер БИОКАМ</span><br>
								Благодарим вас за отзыв! Наши Биокомплексы разрабатывались профессионалами из области медицины и биологических наук, а также тестировались в лаборатории более 25 лет. Уникальные приородные компоненты из окена Камчатки действительно способны совершить чудо! 
							</div>
							<div class="message from typing">
								<div class="typing typing-1"></div>
								<div class="typing typing-2"></div>
								<div class="typing typing-3"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="content-layer" style="padding-top: calc(var(--index) * 2);">
				<a class="content-layer__button" onclick="setMenuChecked()">Оставить отзыв</a>
			</div>
		</section>


		<section class="art-scene scene__fullwidth" style="padding-top: calc(var(--index) * 14);">
			<div class="parallax">
				<div id="group2" class="parallax__group">
					<img src="{% static 'img/shark.jpg' %}" class="parallax-layer">
				</div>
			</div>
			<div class="ambient">
				<div class="firefly"></div><div class="firefly"></div><div class="firefly"></div>
				<div class="firefly"></div><div class="firefly"></div><div class="firefly"></div>
				<div class="firefly"></div><div class="firefly"></div><div class="firefly"></div>
				<div class="firefly"></div><div class="firefly"></div><div class="firefly"></div>
				<div class="firefly"></div><div class="firefly"></div><div class="firefly"></div>
			</div>
		</section>
			
		<section class="content-scene" style="padding: calc(5vh) 0;">
			<div class="copy">© ООО «БИОКАМ» · BIOKAM · DEV BY <a class="link" href="https://web.telegram.org/k/#@Mikaggwp">MIK</a></div>
		</section>
	</div>

</body>

</html>