<div class="quickview-model">
    <div class="quickview-container">


        <div id="content" class="productpage-quickview">
            <div class="">
                <h2 class="page-title">Andres Upholstered Arm Chair in Dark Grey Colour</h2>

                <div class="col-sm-6 product-left">
                    <div class="product-info">
                        <div class="left product-image thumbnails">
                            <!-- Webdigify Cloud-Zoom Image Effect Start -->
                            <div class="image"><a class="thumbnail"><img id="wdzoom"
                                        src="http://31.128.43.100/image/cache/catalog/table-1000x1000.jpg"
                                        data-zoom-image="http://31.128.43.100/image/cache/catalog/table-1000x1000.jpg"
                                        title="Andres Upholstered Arm Chair in Dark Grey Colour"
                                        alt="Andres Upholstered Arm Chair in Dark Grey Colour"></a></div>



                            <!-- Webdigify Cloud-Zoom Image Effect End-->
                        </div>

                    </div>
                </div>

                <div class="col-sm-6 product-right">
                    <h3 class="product-title">Andres Upholstered Arm Chair in Dark Grey Colour</h3>


                    <div class="rating-wrapper">
                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                    </div>

                    <ul class="list-unstyled short-desc">
                        <li><span class="desc">Бренд:</span><a
                                href="http://31.128.43.100/index.php?route=product/manufacturer/info&amp;manufacturer_id=8">Apple</a>
                        </li>
                        <li><span class="desc">Модель:</span>Product 17</li>
                        <li><span class="desc">Бонусные баллы:</span>700</li>
                        <li><span class="desc">Наличие:</span>В наличии</li>
                    </ul>


                    <ul class="list-unstyled">
                        <li>
                            <h4 class="special-price">$1 202.00</h4>
                        </li>
                        <li class="price-tax">Без налога: $1 000.00</li>
                    </ul>

                    <div id="product2">
                        <hr>
                        <h3>Доступные варианты</h3>
                        <div class="form-group required ">
                            <label class="control-label">Color</label>
                            <div id="input-option242">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="option[242]" value="73">
                                        <img src="http://31.128.43.100/image/cache/catalog/color-01-40x40.png"
                                            alt="Brown  + $120.00 " class="img-thumbnail">
                                        Brown
                                        (+$120.00)
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="option[242]" value="71">
                                        <img src="http://31.128.43.100/image/cache/catalog/color-03-40x40.png"
                                            alt="Yellow  + $120.00 " class="img-thumbnail">
                                        Yellow
                                        (+$120.00)
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="option[242]" value="72">
                                        <img src="http://31.128.43.100/image/cache/catalog/color-06-40x40.png"
                                            alt="Orange  + $144.00 " class="img-thumbnail">
                                        Orange
                                        (+$144.00)
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="product-rightinfo">
                            <div class="form-group cart-block">
                                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 op-box qty-plus-minus">
                                    <button type="button" class="form-control pull-left btn-number btnminus"
                                        disabled="disabled" data-type="minus" data-field="quantity"></button>
                                    <input id="input-quantity" type="text" name="quantity" value="1" size="2"
                                        class="form-control input-number pull-left">
                                    <input type="hidden" name="product_id" value="44">
                                    <button type="button" class="form-control pull-left btn-number btnplus"
                                        data-type="plus" data-field="quantity"></button>
                                </div>
                                <div class="offer-btn"> <button type="button" id="button-cart2"
                                        data-loading-text="Загрузка..."
                                        class="btn btn-primary btn-lg btn-block">Купить</button></div>
                                <div class="btn-group prd_page">

                                    <div class="offer-btn"><button type="button" class="btn btn-default wishlist"
                                            title="Добавить в закладки" onclick="wishlist.add('44');">Добавить в
                                            закладки</button></div>
                                    <div class="offer-btn"><button type="button" class="btn btn-default compare"
                                            title="Добавить к сравнению" onclick="compare.add('44');">Добавить к
                                            сравнению</button></div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="content_product_block"> </div>
                </div>

            </div>
        </div>

    </div>
</div>